* {
	padding: 0;
	margin: 0;
}
body {
	background-color:bisque; 
	font-family: 'Courgette', cursive; 
	font-size: 25px; ;
}
.app {
	width: 100vw;
	height: 100vh;

}
button {
	background-color: rgba(128, 128, 128, 0);
	border: none;
}

ul, li {
	list-style-type: none;
	padding: 10px;
	margin: 0;
	font-size: 20px;
	font-family: 'Courgette', cursive; 
}
.containerNotes {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;	
	margin-top: 15%;
}
p {
	display: flex;	
	flex-direction: column;
	background-color: #fff000;
	background-image: linear-gradient(315deg, #fc82c9 10%, #fff000 74%);
	box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
	width: 250px;
	height: 250px;
	padding: 15px;
	margin: 6px;
}
.pin {
	margin-left: 35%;
	margin-top: -20%;	
}
.offIconNote {
	margin-left: 85%;
	margin-top: 70%;	
}
form {
	display: flex;
	justify-content: space-evenly;
}

.containerInp {
	/* display: none; */
	position: absolute;
	top: 14%;
	justify-self: center;
}
#dark input {
	background-color: rgb(185, 164, 143);
}
#light input {
	background-color:rgb(242, 216, 190);
}
input {
	box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
	outline: none;
	border: none;
	width: 250px;
	height: 30px;
	padding: 60px 25px 25px 25px;
	font-family: 'Courgette', cursive; 
	font-size: 20px;
}
.onIcon, .offIcon {
	position: absolute;
	top: 4%;
}
.onIcon {
	right:20%
}
.offIcon {
	right: 5%;
}
.btn {
	display: flex;
	justify-content: center;
}
.bkg {
	position: absolute;
	/* right: 50%; */
	top: 2%;
	width: 15%;
	height: 10;
	background-color: #fff;
	box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
	padding: 5px;
	font-family: 'Courgette', cursive; 
	font-size: 20px;
	justify-self: center;
}

.crossed {
	text-decoration: line-through 2px red;
	background-color: #f0f0f0;
	background-image: linear-gradient(315deg, #f0f0f0 0%, #aaaaa9 74%);
}

#light {
	background-color: rgb(226, 203, 175);
}
#dark {
	background-color: rgb(72, 60, 49);
}


@media all and (max-width: 1030px) {
	.containerNotes {
		margin-top: 22%;
	}
	.containerInp {
		top: 9%;
	}
}

@media all and (max-width: 920px) {
	.containerNotes {
		margin-top: 28%;
	}
	.containerInp {
		top: 8%;
	}
}


@media all and (max-width: 830px) {
	.containerNotes {
		margin-top: 28%;
	}
	.containerInp {
		top: 7%;
	}
}

@media all and (max-width: 550px) {
	.containerNotes {
		margin-top: 42%;
	}
	.containerInp {
		top: 9%;
	}
}
@media all and (max-width: 420px) {
	.containerNotes {
		margin-top: 53%;
	}
}

@media all and (max-width: 300px) {
	.containerNotes {
		margin-top: 68%;
	}
	.bkg {
		width: 20%;
	}
	input {
		width: 200px;
	}
}
