* {
	padding: 0;
	margin: 0;
}
body {
	background-color:#c68c53ab; 
	font-family: 'Courgette', cursive; 
	font-size: 25px; ;
}
button {
	background-color: rgba(128, 128, 128, 0);
	border: none;
}

ul, li {
	list-style-type: none;
	padding: 10px;
	margin: 0;
	font-size: 20px;
	font-family: 'Courgette', cursive; 
}
.containerNotes {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;	
	margin-top: 15%;
}
p {
	display: flex;	
	flex-direction: column;
	background-color: #fff000;
	background-image: linear-gradient(315deg, #fc82c9 10%, #fff000 74%);
	box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
	width: 250px;
	height: 250px;
	padding: 15px;
	margin: 6px;
}
.pin {
	margin-left: 35%;
	margin-top: -20%;	
}
.offIconNote {
	margin-left: 85%;
	margin-top: 70%;	
}
form {
	display: flex;
	justify-content: space-evenly;
}

.containerInp {
	/* display: none; */
	position: absolute;
	top: 3%;
	justify-self: center;
}
input {
	box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
	outline: none;
	border: none;
	width: 250px;
	height: 40px;
	padding: 60px 25px 25px 25px;
	font-family: 'Courgette', cursive; 
	font-size: 20px;
}
.onIcon, .offIcon {
	position: absolute;
	top: 4%;
}
.onIcon {
	right:20%
}
.offIcon {
	right: 5%;
}

.crossed {
	text-decoration: line-through 2px red;
	background-color: #f0f0f0;
	background-image: linear-gradient(315deg, #f0f0f0 0%, #aaaaa9 74%);
}
